.normal {background-color: #a8a899c9;}
.fighting {background-color: #a84b3dc9;}
.flying {background-color: #87b4e5c5;}
.poison {background-color: #874ab8b3;}
.ground {background-color: #956733b5;}
.rock {background-color: #a8995bbb;}
.bug {background-color: #82ad25ba;}
.ghost {background-color: #633c64b9;}
.steel {background-color: #9999a8bb;}
.fire { background-color: #f08030b0;}
.water { background-color: #6891f0b3;}
.grass { background-color: #78c850c5;}
.electric {background-color: #e5c60076;}
.psychic {background-color: #e55973c3;}
.ice {background-color: #68baacbb;}
.dragon {background-color: #4d65abba;}
.dark {background-color: #463e3eb6;}
.fairy {background-color: #d480ceb3;}

.hidden {
    display: none !important;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

#body {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #8fd0ffc8;
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    flex: 1;
}

#body.no-scroll { overflow: hidden; }

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1440px;
    padding: 20px;
    box-sizing: border-box;
}

#overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

header {
    background-color: #fb7676;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    position: relative;
    z-index: 3000;
}

.header-content {
    position: relative;
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    box-sizing: border-box;
    min-height: 80px;
}

.main-logo {
    height: 80px;
    width: auto;
    object-fit: contain;
    filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.8));
}

#searchInput {
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    outline: none;
    width: 250px;
}

#searchBtn {
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background-color: #313131;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
}

#searchBtn:hover {
    background-color: #505050;
}

.region-btn {
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: filter 0.2s, transform 0.1s;
    font-size: 14px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}

.region-btn:hover {
    filter: brightness(0.9);
    transform: scale(1.02);
}

.loadMoreBtn {
    padding: 12px 30px;
    border-radius: 25px;
    border: none;
    background-color: #313131;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 40px 0 100px 0;
    display: block;
}

.loadMoreBtn:hover {
    background-color: #505050;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.loadMoreBtn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    transform: none;
}

#loadingSpinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px; 
}

.rotate {
    width: 100px;
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}

.main-footer {
    width: 100%;
    background-color: #d8d8d8;
    color: #4B4B4B;
    padding: 20px 0;
    margin-top: auto;
    font-size: 14px;
    box-shadow: 0 -4px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 10px;
}

.footer-left-side {
    padding-left: 30px;
    display: flex;
    justify-content: flex-start;
}

.footer-center-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.footer-logo-img {
    height: 50px;
    width: auto;
    transition: transform 0.2s ease;
    filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.2));
}

.footer-logo-img:hover {
    transform: scale(1.1);
}

.footer-links a {
    color: #4B4B4B;
    text-decoration: none;
    transition: color 0.2s;
}

.footer-links a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.back-to-top {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -45px 0 10px 0;
    transition: all 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.back-to-top:hover {
    background: rgba(255, 255, 255, 0.4);
    transform: translateY(-5px);
}

.back-to-top img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

@media (max-height: 850px) {
    .detail-card {
        height: 95vh;
        overflow-y: auto;
    }
}

@media (max-width: 768px) {
    #regionFilters {
        grid-template-columns: repeat(2, 1fr);
    }

    .header-content {
        flex-direction: column;
        gap: 15px;
        padding-bottom: 40px;
    }
    
    .search-area {
        width: 100%;
        justify-content: center;
    }

    .main-footer {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .footer-left-side {
        justify-content: center;
        padding-left: 0;
    }
    .footer-right-side {
        display: none;
    }
    .back-to-top {
        margin: 0 0 10px 0;
    }
}

@media (max-width: 320px) {
    main { grid-template-columns: 1fr; }
    h1 { font-size: 1.5rem; }
    #contentBox {
        grid-template-columns: 1fr;
        padding: 10px;
    }
}