@media (max-width: 768px) and (min-width: 320px) {
    
    body {
        font-size: 16px;
    }

    header {
        padding: 15px 0;
    }

    .header-content {
        flex-direction: column;
        gap: 20px;
        padding: 10px 20px 50px 20px;
    }

    .main-logo {
        height: 60px;
    }

    .search-area {
        width: 100%;
        justify-content: center;
        gap: 8px;
    }

    #searchInput {
        width: 60%;
        max-width: 250px;
    }

    .map-drawer-btn {
        bottom: -35px;
    }

    main {
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        padding: 15px;
    }

    .pkm-card {
        height: 140px;
        padding: 10px;
    }

    .card-info-left h3 {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .type-badge {
        width: 60px;
        font-size: 10px;
        padding: 3px 0;
    }

    .card-image-right {
        width: 90px;
        height: 90px;
    }

    .card-id {
        font-size: 14px;
        top: 5px;
        right: 10px;
    }

    #overlay {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 4000;
    }

    .detail-card {
        z-index: 4001;
        width: 96%;
        max-width: 450px;
        min-height: auto !important;
        height: 84vh !important;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .detail-header {
        height: 220px;
        padding: 25px;
    }

    .main-img {
        width: 160px;
        bottom: -30px;
    }

    .detail-info-container {
        padding: 40px 15px 15px 15px;
        margin-top: -30px;
        overflow-y: auto;
        border-radius: 35px 35px 25px 25px;
    }

    .detail-title-row h2 {
        font-size: 28px;
        max-width: 70%;
    }

    .tabs {
        margin-bottom: 15px;
        gap: 5px;
    }

    .tabs button {
        font-size: 14px;
        padding: 8px 4px;
        white-space: nowrap;
    }

    .preview-img {
        display: block;
        object-fit: contain;
    }

    .nav-arrows {
        position: absolute;
        transform: translateY(-50%);
        width: 100%;
        left: 0;
        right: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        pointer-events: none;
        z-index: 50;
    }

    #regionFilters {
        grid-template-columns: repeat(2, 1fr);
    }

    .main-footer {
        padding: 30px 0;
    }

    .footer-left-side {
        justify-content: center;
        padding: 0;
        margin-bottom: 15px;
    }
}

@media (max-width: 360px) {
    main {
        grid-template-columns: 1fr;
    }
}