.pkm-card {
    position: relative;
    border-radius: 20px;
    padding: 15px;
    color: white;
    height: 160px;
    overflow: hidden;
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.card-id {
    position: absolute;
    top: 10px;
    right: 15px;
    font-weight: bold;
    opacity: 0.6;
    font-size: 18px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.pkm-card img {
    width: 100px;
    z-index: 2;
}

.card-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: flex-start;
    margin-top: 10px;
}

.card-info-left h3 {
    margin: 0 0 15px 0;
    font-size: 22px;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.pkm-card:hover {
    transform: scale(1.05); 
}

.pkm-card:hover .card-bg-icon {
    transform: scale(1.1) rotate(15deg);
    opacity: 0.25;
    transition: all 0.2s ease-in-out;
}

.types-column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.type-badge {
    background: rgba(255, 255, 255, 0.25);
    color: white;
    border-radius: 15px;
    padding: 5px 0;
    font-size: 12px;
    width: 70px;
    text-align: center;
    display: block;
    margin-bottom: 5px;
    border: solid 1px #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.326);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    text-transform: capitalize;
}

.card-image-right {
    position: absolute;
    margin-right: 16px;
    right: 5px;
    bottom: 5px;
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.card-image-right img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 2;
    filter: drop-shadow(0 5px 5px rgba(0,0,0,0.326)); 
    transition: transform 0.2s ease-in-out;
}

.pkm-card:hover .card-image-right img {
    transform: scale(1.1);
    filter: drop-shadow(0 5px 5px rgba(0,0,0,0.6));
}

.card-bg-icon {
    position: absolute;
    bottom: -20px;
    right: -20px;
    width: 120px;
    height: 120px;
    background-image: url('../assets/img/pokeball_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.15;
    z-index: 1;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}